.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
  width: 50%;
}
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.form-input {
  font-size: 16px;
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
label {
  margin: 0px 20px;
}
